@"
FRONTEND_URL=https://shamirsecurity-1-aclh.onrender.com
BACKEND_URL=https://shamirsecurity-1tv2.onrender.com
SUPABASE_URL=https://tacsrdvzgcsucparujcr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhY3NyZHZ6Z2NzdWNwYXJ1amNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3NDE5NjYsImV4cCI6MjA4MjMxNzk2Nn0.bp5qZG28mODVoeSIEWoWF-tbwtmCIXM1GQ1JvM9XmpA
FLASK_SECRET_KEY=09XQcKrumaKSV05btE33BYMWZBzFk2FX7suzhsk+BeM=
FLASK_DEBUG=false
PORT=8080
"@ | Out-File -FilePath backend\.env -Encoding utf8
